body {
    padding-top: 95px;
   }
 
 
 .header{
 position: fixed;
   width: 100%;
   top: 0;
   z-index: 10000;
 }
 
 #container {
   padding-top: 150px;
 }
 
 .fs-1{
    text-align:center;
  }
 .naiyou{
    text-align: center;
 }
 .name{
  margin-top: 4%;
  margin-left: 20%;
 }
 .text{
  margin-left: 20%;
  width:50%;
 }

 .touroku{
  text-align: center;
 }
 
 .size{
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #999;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0.5em 0;
 }
 .baka{
  margin: 100px 50px 30px 80px;
 }