body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}

.navbar navbar-light bg-light{
 position:fixed; top:0;
}

.cartcheck{
  float:left;
  }
  
.thankyou{
margin-top: 15%;
}


