body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}


.cartcheck{
  max-width:100%;
  height: auto;
float:left;
margin-left: 7%;
margin-right: 5%;
}

.img{
  max-width:100%;
  height: auto;
   padding-bottom: 5%;
}




.reprice{
  max-width:100%;
  height: auto;
  padding-top: 80%;
}

.col-sm-4{
  max-width:100%;
  height: auto;
padding-bottom: 5%;
}

.setumei{
  max-width:100%;
  height: auto;
	text-align: left;
	  overflow: hidden;
}

.row{
  max-width:100%;
  height: auto;
    padding-top: 55%;
}
.syohin{
  max-width:100%;
  height: auto;
padding-top: 5%;
}

.price{
  max-width:100%;
  height: auto;
  padding-right: 5%;
  }


.delete{
  max-width:100%;
  height: auto;
  margin-right: 5%;
  text-decoration-line: line-through;
  text-decoration-style:double;
  text-decoration-color: red;
}

.suuryo{
  max-width:100%;
  height: auto;
  width:5%;
  float:left;
}

.d-block{
  width: 400px;
  height:400px;
}
.otoiawase{
  max-width:100%;
  height: auto;
  float: left;
  padding-right: 10%;
}
.okiniiri{
  max-width:100%;
  height: auto;
  float:right;
}