body {
   padding-top: 95px;
  }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}


.fs-1{
text-align:center;
}

.fs-3{
margin-left: 30%;
}


.login{
text-align:center;
margin-top: 70px;
}

.owasure{
margin-left: 60%;
margin-top: 10px;
  }

  .sinki{
    text-align:center;
    margin-top: 15px;
    }