body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}

.sum{
  text-align: center;
}

.name{
margin-left: 20%;
}

.form{
  margin-left: 20%;
}
.form2{
  margin-right: 20%;
}

.fs-2{
text-align:left;
}

.yuubinotodoke{
  margin-left: 10%;
  margin-right: 10%;
}

.cart{
float: left;
margin-left:10%;
margin-top: 3%;
}

.kounyu{
  float: right;
  margin-right:10%;
  margin-top: 3%;
}

.TOPNIMODORU{
text-align:center;
}
