body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}


.fs-1{
text-align:center;
}

.TOPNIMODORU{
text-align:center;
}










.OKINIIRI{
margin-top:150px;
}