body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}


.cartcheck{
float:left;
margin-left: 7%;
margin-right: 5%;
}

.img{
   margin-bottom: 5%;
}


.price{
margin-top: 5%;
}

.col-sm-4{
margin-bottom: 5%;
}

.setumei{
	text-align: left;
	  overflow: hidden;
}

.row{
    margin-top: 55%;
}
.syohin{
padding-top: 5%;
}

.suuryo{
  width:5%;
  float:left;
}
.d-block{
   weight: 400px;
   height:400px;
}