body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150%;
}


.itiran{
  margin-left: 3%;
  float: left;
  margin-right: 4%;
}

.sort{
  float: left;
}


.secondsort{
  float: left;
  margin-right: 3%;
}

.col-sm-9{
  margin-bottom: 10%;
}

.card{
  color:black;
}

.price{
  margin-top: 30%;
}