body { padding-top: 95px; }


.header{
position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

#container {
  padding-top: 150px;
}


.cartcheck{
float:left;
margin-left: 7%;
margin-right: 5%;
}

.img{
   margin-bottom: 5%;
}




.reprice{
  margin-top: 80%;
}

.col-sm-4{
margin-bottom: 5%;
}

.setumei{
	text-align: left;
	  overflow: hidden;
}

.row{
    margin-top: 55%;
}
.syohin{
padding-top: 5%;
}

.price{
  margin-top: 5%;
  }


.delete{
  margin-right: 5%;
  text-decoration-line: line-through;
  text-decoration-style:double;
  text-decoration-color: red;
}

.suuryo{
  width:5%;
  float:left;
}

.d-block{
  width: 400px;
  height:400px;
}
.otoiawase{
  float: left;
  margin-right: 10%;
}
.okiniiri{
  float:right;
}